<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greetings</title>
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/simple-grid.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <div class="row">

            <div class="nine columns box center">
                <form action="/greet" method="POST">
                    <h1 class="text-center">Greetings</h1><br>
                        {{#if messages.info}}
                        <div class="entry">
                            <p class="message"> {{messages.info}}</p>
                            {{!-- <p>{{greetMsg}}</p> --}}
                        </div>
                        {{/if}}
                    <label for="">Name</label>
                    <input type="text" name="setName" placeholder="Please enter name"> <br><br>

                    <form action="/language" method="POST">
                        <span><strong>Please select language:</strong></span><br><br>
                        <label class="radio-inline">
                            <input type="radio" name="langType" value="English" class="greetMsgType">
                            <span class="label-body">English</span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="langType" value="Afrikaans" class="greetMsgType">
                            <span class="label-body">Afrikaans</span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="langType" value="isiXhosa" class="greetMsgType">
                            <span class="label-body">isiXhosa</span>
                        </label><br><br>
                        <div class="getCounter"><u>{{getCounter}}</u></div><br>
                        <button class="button-primary" type="submit" name="button">Greet Me</button><br><br>
                        <div class="greetMsg"><i><strong>{{greetMsg}}</strong></i></div><br>
                        {{!-- <div class="errorMsg"><i><strong>{{errorMsg}}</strong></i></div><br> --}}

                        <div class="users center">
                            <a href="/greeted">View greeted users</a>
                        </div>

                    </form>
                </form>
            </div>
        </div>
    </div>
</body>

</html>